@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.error_502{
    background-color: #F4F6F9;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20vh;
}

.container > .image_502 {
    height:40vh;
    width:auto;
}

.container > .text_502 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    color: #324766;
    padding: 3rem;
}

@media only screen and (max-width: 768px) {
    .container > .image_502 {
        display:none;
    }
}